.Side_ber
  .Side_ber__user_name
    .top_items
      %p.top_items__name
        = current_user.nickname
      %ul.top_items__icons
        %li
          = link_to new_group_path do
            = icon("far", "edit")
        %li
          = link_to edit_user_path(current_user), class: "top_items__icons__edit_account" do
            = icon("fas", "cog")
  .Side_ber__group_list
    - current_user.groups.each do |group|
      .Side_ber__group_list__block
        = link_to "#", class: "Side_ber__group_list__block__link" do
          %p.Side_ber__group_list__block__link__group_name
            = group.name
          %p.Side_ber__group_list__block__link__new_message
            = group.show_last_message
